.headerButton {
    margin: auto;
    width: 700px;
    height: 36px;
    padding-top: 12px;

    border-bottom: solid 1px #36405f;
    background: linear-gradient(180deg, rgba(131, 157, 204, 0.37) 0%, rgba(137, 171, 211, 0.178) 100%);

    color: #36405f;
    user-select: none;
}

.headerButton:hover {
    border-color: #ffdbca;
    color: #ffdbca;

    transition: 0.3s;
}

.active {
    background: linear-gradient(180deg, rgba(204, 158, 131, 0) 0%, rgba(255, 166, 150, 0.226) 100%);
    border-color: #ffc0b5a8;
    color: #ffe4dc;
}