.calculator {
    width: 100%;
    height: 100%;
    margin-top: 7%;
}

.calcInputs {
    width: 100%;
    height: 100px;
    margin: 3% 0 3% 0;
}

.operandsBlock {
    display: flex;
    justify-content: center;
}

.rules {
    position: fixed;
    left: 40px;
    top: 200px;
    opacity: 0;
    transition: 0.3s;
    font-size: 16pt;
}

.rules.act {
    opacity: 1;
    transition: 0.3s;

    background-color: rgba(177, 182, 253, 0.719);
    padding: 3% 3% 5% 3%;
}

@media screen and (max-device-width: 480px) {
    .calculator {
        margin-top: 37%;
        min-height: 1200px;
    }

    .calcInputs {
        width: 100%;
        height: 100%;
        margin: 3% 0 3% 0;
    }

    .rules {
        left: 33%;
        top: 80%;
    }
}