<<<<<<< HEAD
.ui2D {
    width: 100%;
    height: 100%;
    user-select: none;
=======
.ui2D {
    width: 100%;
    height: 100%;
    user-select: none;
>>>>>>> 534c9c2b1c7ef4440a876b4a4efad3c2ff20312e
}